body {
    margin-top: 50px;
}

 .portfolio p {
     text-align: justify;
 }

.jumbotron img {
    width: 25%;
}

.jumbotron.bg-primary {
    color: white;
}


.card a{
    color: black;
    text-decoration: none;
}

.card a:hover{
    color: grey;
}

section {
    padding-top: 65px;
    min-height: 420px;
}

footer {
    min-height: 50px;
    padding-top:12px;
}